// #####   Global font   #####
@font-face {
	font-family: 'config';
	src: url('~static/fonts/config.woff2') format('woff2');
}

@font-face {
	font-family: 'config_bold';
	src: url('~static/fonts/config_bold.woff2') format('woff2');
}
