@import '~/assets/fonts.scss';
@import '~/assets/colors.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}


$primary: #0ee3b1;
$secondary: #11998e;
$bg:#1d2228;
$text: white;


body{
	color: $text;
	background: white;
	font-family: 'config';

	-webkit-tap-highlight-color: transparent;

}

.container{
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	background: $text;
	color: $bg;


	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}






// ##### page Transition #####

.page-enter-active, .page-leave-active {
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.page-enter, .page-leave-active {
	opacity: 0
}


// ##### bar Transition #####
.bar-leave-active{
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.bar-enter-active {
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}
.bar-enter, .bar-leave-active {
	opacity: 0
}


// ##### modal Transition #####
.modal-enter-active, .modal-leave-active {
	transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	opacity: 1;
	transform: scale(1);
}
.modal-enter, .modal-leave-active {
	opacity: 0;
	transform: scale(0.75);
}
