* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: 'config';
	src: url('fonts/config.woff2') format('woff2');
}

@font-face {
	font-family: 'config_bold';
	src: url('fonts/config_bold.woff2') format('woff2');
}

$text:#d2d9db;
$bg:#383c41;

body{
	background-color: $bg;
	color: #d2d9db;
	font-family: 'config';
	
}

.container{
	min-height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}




// ##### auth Transition #####

.auth-enter{
	opacity: 0;
}

.auth-enter-active { 
	transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1) 0.2s;
}

.auth-leave-active {
	transition: all 0.3s cubic-bezier(0.85, 0, 0.15, 1);
    opacity: 0;
}


.auth-leave-to { 
	opacity: 0 ; 
	
}


.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(2em, 0);
  
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-2em, 0);

}


.fade-enter-active{
	transition: opacity .3s ease ;
	
}
.fade-leave-active {
	transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
}