@import '~/assets/fonts.scss';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
	display: none;
}

$primary: #0ee3b1;
$secondary: #2bc1a6;
$text:#d2d9db;
$bg:#383c41;

body{
	background-color: $bg;
	color: #d2d9db;
	font-family: 'config';
	
}

.container{
	height: 100vh;
	overflow: hidden;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}




// ##### auth Transition #####

.fade-enter-active{
	transition: opacity 1s ease ;
	transform: translateX(100%);

	
}
.fade-leave-active {
	transition: opacity 1s ease;
	// transform: translateX(100%);
}
.fade-enter, .fade-leave-to{
	opacity: 0;

}

// ##### page Transition #####

.page-enter-active, .page-leave-active {
	transition: opacity .2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.page-enter, .page-leave-active {
	opacity: 0
}



.slide-leave-active,
.slide-enter-active {
  transition: 0.2s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}